* {
  margin: 0px;
  padding: 0px;
}

* {
  box-sizing: border-box;
}

.app {
  width: auto;
  height: auto;
}

.body {
  margin: 0;
  display: flex;
  align-items: start;
  /* width: 100vw;
  height: 100vh; */
  background-color: white;
}

.header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  position: relative;
  /* align-items: flex-start; */
  /* justify-content: start; */
  width: 100vw;
  height: 20vw;
}

.header1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  position: absolute;
  /* align-items: flex-start; */
  /* justify-content: start; */
  width: 100vw;
  height: 20vw;
  left: -15%;
}

.header1a {
  display: flex;
  position: absolute;
  width: 100%;
  height: 80%;
  left: 50%;
  align-items: start;
  top: 45%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 220%;
}

.header1b {
  display: flex;
  position: absolute;
  width: 100%;
  height: 80%;
  left: 50%;
  align-items: start;
  top: 70%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 150%;
}

.header1c {
  display: flex;
  position: absolute;
  width: 100%;
  height: 80%;
  left: 50%;
  align-items: start;
  top: 70%;
  left: 80%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 150%;
}

.header1d {
  display: flex;
  position: absolute;
  width: 100%;
  height: 80%;
  left: 50%;
  align-items: start;
  top: 90%;
  left: 50%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 150%;
}

.header1e {
  display: flex;
  position: absolute;
  width: 100%;
  height: 80%;
  left: 50%;
  align-items: start;
  top: 90%;
  left: 80%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 150%;
}

.header2 {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 5%;
  align-items: center;
  top: 10%;
}

.header2a {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  align-items: center;
  top: 40%;
  font-size: 250%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header2b {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 5%;
  align-items: center;
  top: 55%;
  font-size: 200%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.leftpanel {
  display: flex;
  position: relative;
  width: 20vw;
  height: 100vh;
}

.skillbox {
  display: flex;
  position: absolute;
  width: 100%;
  height: 10%;
  top: 15%;
  left: 10%;
  font-size: 200%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.languagebox {
  display: flex;
  position: absolute;
  width: 100%;
  height: 10%;
  top: 68%;
  left: 10%;
  font-size: 200%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.interestbox {
  display: flex;
  position: absolute;
  width: 100%;
  height: 10%;
  top: 110%;
  left: 10%;
  font-size: 200%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.rightpanel {
  display: flex;
  position: relative;
  width: 80vw;
  height: 150vh;
  left: 32%;
  top: -680px;
}

.profilebox {
  display: flex;
  position: absolute;
  width: 80%;
  height: 6%;
  top: 2%;
  left: 3%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 220%;
  border-radius: 50px;
  padding-left: 2%;
  padding-top: 0.5%;
  background-image: linear-gradient(188deg, #131e81 0%, #56ccfa 70%);
}

.profilecontent{
  display: flex;
    position: absolute;
    width: 80%;
    height: 10%;
    top: 120%;
    left: 5%;
    color: #221314;
    font-size: 40%;
    font-weight: 500;
}

.educationbox {
  display: flex;
  position: absolute;
  width: 80%;
  height: 6%;
  top: 32%;
  left: 3%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 220%;
  border-radius: 50px;
  padding-left: 2%;
  padding-top: 0.5%;
  background-image: linear-gradient(188deg, #131e81 0%, #56ccfa 70%);
}

.educationcontent{
  display: flex;
    position: absolute;
    flex-direction: column;
    width: 15%;
    height: 10%;
    top: 120%;
    left: 5%;
    color: #221314;
    font-size: 40%;
    font-weight: 500;
}

.workexbox {
  display: flex;
  position: absolute;
  width: 80%;
  height: 6%;
  top: 65%;
  left: 3%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 220%;
  border-radius: 50px;
  padding-left: 2%;
  padding-top: 0.5%;
  background-image: linear-gradient(188deg, #131e81 0%, #56ccfa 70%);
}

.workcontent{
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 35%;
  height: 10%;
  top: 120%;
  left: 5%;
  color: #221314;
  font-size: 40%;
  font-weight: 500;
}

.footer1 {
  display: flex;
  position: absolute;
  width: auto;
  height: auto;
  margin: 10%;
}

.headertext {
  display: flex;
  position: absolute;
  width: auto;
  height: auto;
  color: #000a74;
  font-style: italic;
  font-weight: 600;
}

.leftbox {
  display: flex;
  position: absolute;
  width: auto;
  height: auto;
  color: #000;
  font-style: italic;
  font-weight: 800;
}

.rightbox {
  display: flex;
  position: absolute;
  width: auto;
  height: auto;
  color: #000;
  font-style: italic;
  font-weight: 800;
}

.mypic {
  display: flex;
  position: absolute;
  width: 220px;
  height: 220px;
  border-radius: 100px;
  left: 4%;
  top: 7%;
}

.headbgpic {
  display: flex;
  position: absolute;
  width: 100%;
  height: 55%;
}

.dev {
  display: flex;
  position: absolute;
  width: 20%;
  top: 100%;
}

.fix {
  display: flex;
  position: absolute;
  width: 15%;
  top: 115%;
  left: 35%;
}
.food {
  display: flex;
  position: absolute;
  width: 15%;
  top: 115%;
  left: 63%;
}
.movie {
  display: flex;
  position: absolute;
  width: 15%;
  top: 115%;
  left: 90%;
}
.programming {
  position: absolute;
  font-family: "DM Sans", sans-serif;
  width: 300px;
  color: #221314;
  font-size: 14px;
  top: 210%;
  left: -4%;
}
.fixxing {
  position: absolute;
  font-family: "DM Sans", sans-serif;
  width: 300px;
  color: #221314;
  font-size: 14px;
  top: 210%;
  left: 35%;
}
.eating {
  position: absolute;
  font-family: "DM Sans", sans-serif;
  width: 300px;
  color: #221314;
  font-size: 14px;
  top: 210%;
  left: 65%;
}
.cinema {
  position: absolute;
  font-family: "DM Sans", sans-serif;
  width: 300px;
  color: #221314;
  font-size: 14px;
  top: 210%;
  left: 91%;
}
.thai {
  position: absolute;
  font-family: "DM Sans", sans-serif;
  width: 300px;
  color: #221314;
  font-size: 25px;
  top: 100%;
}
.english {
  position: absolute;
  font-family: "DM Sans", sans-serif;
  width: 300px;
  color: #221314;
  font-size: 25px;
  top: 200%;
}
.korean {
  position: absolute;
  font-family: "DM Sans", sans-serif;
  width: 300px;
  color: #221314;
  font-size: 25px;
  top: 300%;
}
.thaiskill {
  position: absolute;
  width: 40%;
  top: 46%;
  left: 55%;
}
.engskill {
  position: absolute;
  width: 40%;
  top: 145%;
  left: 55%;
}
.korskill {
  position: absolute;
  width: 40%;
  top: 250%;
  left: 55%;
}
.html {
  position: absolute;
  font-family: "DM Sans", sans-serif;
  width: 300px;
  color: #221314;
  font-size: 25px;
  top: 110%;
}
.css {
  position: absolute;
  font-family: "DM Sans", sans-serif;
  width: 300px;
  color: #221314;
  font-size: 25px;
  top: 210%;
}
.java {
  position: absolute;
  font-family: "DM Sans", sans-serif;
  width: 300px;
  color: #221314;
  font-size: 25px;
  top: 310%;
}
.react {
  position: absolute;
  font-family: "DM Sans", sans-serif;
  width: 300px;
  color: #221314;
  font-size: 25px;
  top: 410%;
}
.htmlskill {
  position: absolute;
  width: 40%;
  top: 55%;
  left: 55%;
}
.cssskill {
  position: absolute;
  width: 40%;
  top: 157%;
  left: 55%;
}
.javaskill {
  position: absolute;
  width: 40%;
  top: 258%;
  left: 55%;
}
.reactskill {
  position: absolute;
  width: 40%;
  top: 358%;
  left: 55%;
}